extends stuLayout



block content
    h1.
        Highland and Marsh (EB)
    div
      table
        thead
          tr: th Route
              th Destination
              th Arriving in
        tbody

          each bus in busTimes
              tr
                div
                  td <strong style="font-size:1.5em"> #{bus.route}

                td #{bus.dest}

                if bus.time !=1
                  td <strong style="font-size:1.5em"> #{bus.time} </strong> minutes
                else
                  td <strong style="font-size:1.5em"> #{bus.time} </strong> minute

     f
        h3 Last Updated #{moment(busTimes[0].uTime).format('MMMM Do, YYYY, h:mm a')}
